body {
    background-color: black; 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
}

.big-counter {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    font-size: 60px; 
    background: black; 
    color: white; 
    height: 100vh; 
    width: 100vw; 
}

.big-counter div {
    margin: 5px; 
    background: grey; 
    padding: 10px 15px; 
    border-radius: 5px; 
    font-family: 'Arial', sans-serif; 
    color: white; 
}

.big-counter .calendar {
    font-size: 60px; 
    background: grey; 
    padding: 10px 15px; 
    border-radius: 5px; 
    color: white; 
}
